* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 28);
    color: rgb(126, 125, 147);
    font-family: "VT323", monospace;
}

.grid-container {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(12, 12, 12);
    border-radius: 30px;
    margin: 3% auto;
    padding: 2%;
}

.photo {
    text-align: center;
}

img {
    width: 70%;
    height: auto;
    border: 5px solid rgba(82, 76, 76, 0.8);
    border-radius: 50%;
    margin-bottom: 2%;
}

.grid-item {
    padding: inherit;
}

.text {
    font-size: 1.5vw;
}

a.generalLinks {
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
}

/* tecnologies icons ================================= */

div.stackInfo {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(12, 12, 12);
    border-radius: 30px;
    margin: 3% auto;
    padding: 2%;
}

div.stackInfo>div {
    padding: inherit;
    margin: inherit;
    text-align: center;
    font-size: 1.3vw;
    font-weight: bold;
}

/* contact =========================================== */

.contact {
    width: 40%;
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(12, 12, 12);
    border-radius: 30px;
    margin: 3% auto;
    padding: 2%;
}

.contactInfo {
    width: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3% auto;
    padding: 2%;
}

.socialLinks {
    color: rgb(126, 125, 147);
    text-decoration: none;
}

.socialLinks:hover {
    color: white;
}

/* mobile =============================================== */

@media only screen and (max-width: 600px) {
    div.personalInfo {
        display: block;
        text-align: justify;
    }

    div.photo>h2 {
        font-size: 4vw;
    }

    div.professinalInfo>h3 {
        text-align: center;
    }

    p.experience {
        margin: 5%;
    }

    div.stackInfo {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }

    div.stackInfo>div {
        font-size: 3vw;
    }

    div.contactInfo {
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: rgb(12, 12, 12);
        border: 2px solid rgb(12, 12, 12);
        border-radius: 10px;
        margin: 3% auto;
        padding: 2%;
    }
}